<!DOCTYPE html>
<html>

<head>
  <title>CGAN Calligraphy</title>

  <!--CSS goes here-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style type="text/css">
    body{
      margin-top: 12px;
    }
    .result {
      /* text-align: center; */
      padding-left: 10%;
    }

    .card {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          CGAN Calligraphy
        </h1>

        <br />

        <div>
          <form method="post" action="/">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Dish Name</span>
              </div>
              <input type="text" class="form-control" placeholder="Try a Dish Name" aria-label="Dish Name"
                aria-describedby="basic-addon1" name="description">
            </div>
            <div class="card_group">
              <div class="row row-cols-2">
                <div class="col mb-4">
                  <div class="card">
                    <h5 class="card-header">Dekooning</h5>
                    <img src="../static/style_image/dekooning.jpg" class="card-img-top">
                  </div>
                </div>

                <div class="col mb-4">
                  <div class="card h-100">
                    <h5 class="card-header">Picasso</h5>
                    <img src="../static/style_image/picasso.jpg" class="card-img-top">
                  </div>
                </div>

                <div class="col mb-4">
                  <div class="card h-100">
                    <h5 class="card-header">Pollock</h5>
                    <img src="../static/style_image/pollock.jpg" class="card-img-top">
                  </div>
                </div>

                <div class="col mb-4">
                  <div class="card h-100">
                    <h5 class="card-header">Rousseau</h5>
                    <img src="../static/style_image/rousseau.jpg" class="card-img-top">
                  </div>
                </div>
              </div>
            </div>

            <br />
            <input id="style_text" type="text" name="style" style="display: none;">
            <input class="btn btn-primary" type="submit" value="Generate">
          </form>
        </div>
      </div>

      <div class="col result">
        {% if generated %}
        <h3>Dish Name</h3>
        <p>{{desc}}</p>
        <h3>Style</h3>
        <p>{{style}}</p>
        <h3>Generated Image</h3>
        <img width="300px" src="{{url_1}}">
        <br />
        <h3>Stylized Image</h3>
        <img width="300px" src="{{url_2}}">
        <br />
        <h3>Oil Painting</h3>
        <img width="300px" src="{{url_3}}">
        {% else %}
        <h3>Try It Now!</h3>
        <p>Enter a simple dish name, choose a style you like and click submit. Wait for about 60 seconds, and you will
          get the results.</p>
        {% endif %}
      </div>
    </div>


  </div>

  <!--JS application goes here-->
  <script type="text/javascript" src="../static/js/cgan.js"></script>
</body>

</html>